
body, html {
  background-color: white;
  overflow: hidden;
  height: 100vh;
  padding: 0;
  margin: 0;
}


#login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 10px;
  h1 {
    margin: 0;
  }
}

h2 {
  margin: 0;
  padding-left: 5px;
}

#main {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

aside {
  h2 {
    border-bottom: 1px solid gray;
  }

  width: 250px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid gray;
  .topicsheader {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
  }

  .topics {
    flex: 1;
    overflow-y: auto;

    .topic {
      padding: 4px;
      &.active {
        background-color: blue;
        color: white;
      }
    }
  }
  .newtopic {
    display: flex;
    input {
      flex: 1;
    }
  }
}

#content {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
   min-height: 0;
  
  .messages::before {
  content: "";
  flex: 1;
}

  .messages {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 1;
    min-height: 0;
    overflow-y: scroll;

    .message {
      display: flex;
      flex-direction: row;
      padding: 5px 2px;
      gap: 5px;
      p {
        margin: 0;
        flex: 1;
      }
      .username {
        font-weight: bold;
      }
    }
  }

  .send {
    display: flex;
    input {
      flex: 1;
    }
  }
}

.topicsheader {
    padding-left: 5px;
    box-sizing: border-box;
}
